<h1>Showing list of available movies</h1>
<hr>

<h4>Popular Movies</h4>
<ul>
  <% @movies.each do |movie| %>
    <li><a href="<%= movie_path(movie.id) %>"><img src="http://image.tmdb.org/t/p/w185/<%= movie.poster_path %>"><%= movie.title %></a></li>
  <% end %>
</ul>
