


<div class="row align-items-center justify-content-center" ">
<div class="col-5 black-bg">

  <h1>All Customers</h1>
<ul>
  <% @customers.each do |customer| %>
    <li>
      <%= link_to customer.name, customer_path(customer) %>
    </li>
  <% end %>
</ul>
</div>
</div>