<h1>Viewing list of rentals</h1>
<p><%= link_to "Rent a Movie", new_rental_path %> |
<%= link_to "View Customers", customers_path %> |
<%= link_to "View Movies", movies_path %></p>


<hr>
<ul>
  <% @rentals.each do |rental| %>
  <li><%= link_to "#{rental.customer.name }  rented  #{rental.movie.title} for #{rental.rental_length} days", rental %></li>
  <% end %>
</ul>
