<h1>List of All Rentals</h1>
<p>
  <%= link_to "Rent a Movie", movies_path %>
</p>
<hr>

<ul>
  <% @rentals.each do |rental| %>
  <li><%= link_to "#{rental.customer.name }  rented  #{rental.movie.title} for #{rental.rental_length} days", rental %></li>
  <% end %>
</ul>
