
<div class="row align-items-center justify-content-center" ">
<div class="col-7 black-bg">
<h1>List of All Rentals</h1>

<hr>

<ul>
  <% @rentals.each do |rental| %>
  <li><%= link_to "#{rental.customer.name }  rented  #{rental.movie.title} for #{rental.rental_length} days", rental %></li>
  <% end %>
</ul>

  <p>
    <%= link_to "Rent a Movie", movies_path, class: "btn btn-danger float-right" %>
  </p>
</div>
</div>